.body {
    margin: 0;
    font-family: Arial, sans-serif;
    border: 5px solid black;
}

.container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.image {
    position: absolute;
    top: 15%;
    transform: translateY(-50%);
    z-index: 3;
}

.image1 {
    left: 15%;
    width: 10%;
}

.image2 {
    right: 15%;
}

.text-box {
    position: absolute;
    bottom: 20px;
    text-align: center;
    z-index: 2;
}

.text-box h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.paragraph-box {
    margin: 0 auto;
    width: 80%;
}

.paragraph-box p {
    font-size: 18px;
    margin-bottom: 20px;
}

.button-link {
    display: inline-block;
    font-size: 14px;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    text-decoration: none; /* Remove default underline for links */
    background-color: #4CAF50; /* Green background */
    color: white; /* White text */
    border-radius: 25px; /* Oval shape */
    text-align: center;
    margin-top: 20px; /* Adjust vertical position */
}

.line {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(110deg, turquoise 50%, lightcoral 50%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    z-index: 1;
}
